{% extends 'base.html' %}

{% block head %}
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="IE=edge">
<meta name="viewport" content="width = device-width, initial-scale = 1">

<title>StudyUpUIUC</title>


<style >
/*.jumbotron{
    background-color: #2E2D88;
    color:white;
}*/

/*.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 30;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
.sidenav a:hover {
    color: #f1f1f1;
}*/

.btn-space{
    margin-right: 10px;
}
.myLink, .myLink:hover, .myLink:active, .myLink:visited, .myLink:focus {
    text-decoration:none;
}
.sidebar-offcanvas {
  width: inherit;
  min-width: 220px;
  max-width: 220px;
  background-color:#FBFBFB;
  float: right;
  z-index: 1;
  min-height: 500px;
  max-height: 500px;
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;
}
#main {
  height:100%;
  overflow:auto;
}

.sessionLabel {
    margin-right: 25px;
}

.joinandleavebtn {
  min-width: 100px;
  max-width: 100px;
  min-height: 35px;
  max-height: 35px;
  border-radius: 24px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Jua';
  margin-right: 30px;
}

.classheaders {
  font-family: 'Jua';
  color: #4e5b96;
}

.editanddeletebtn {
    min-width: 25px;
    max-width: 25px;
    min-height: 25px;
    font-size: 10px;
    max-height: 20px;
    border: 0 none;
    border-radius:24px;
}

.newsessionbtn {
  min-width: 170px;
  max-width: 170px;
  min-height: 30px;
  max-height: 30px;
  border: 0 none;
  border-radius:24px;
  color: #6D7FCC;
}

.well {
    background: #F8F8F8;
    max-width: 800px;
    min-width: 800px;
    padding-right: 0px;
    /*
    border-color: #6D7FCC;
    border-width: 2px;*/
}

label {
  font-family: "Overlock";
}

.no_classes {
  font-family: 'Coustard';
  color: #3a4470;
  font-size: 40px;
  margin-left: 70px;
  text-align: center;
}

.no_classes2 {
  font-family: 'Coustard';
  color: #3a4470;
  font-size: 30px;
  margin-left: 70px;
  text-align: center;
}

.no_sesh {
  font-family: 'Coustard';
  color: #3a4470;
  font-size: 15px;
  text-align: center;
}

.navbar-custom {
  background-color: #3a4470;
  min-height: 38px;
  max-height: 38px;
  border-radius: 0px;
  border: 0px;
  margin-top: 50px;

}
.navbar.navbar-custom .navbar-nav > li > a {
  margin-left: 10px;
  font-family: 'Jua';
  padding-top: 5px;
  margin-top: 4px;
  min-height: 30px;
  max-height: 30px;
  color: #FFFFFF;
  background-color: #3a4470;
  letter-spacing: 1px;
  border-radius: 5px;
}

.navbar.navbar-custom .navbar-nav > li > a:hover,
.navbar.navbar-custom .navbar-nav > li > a:focus {
  color: #3a4470;
  background-color: #E9EBEE;/*#798ce0;*/
  border-radius: 5px;
}
</style>



{% endblock %}
{% block body %}

<nav class="navbar navbar-custom navbar-fixed-top" > <!-- style="background-color:"" -->
      <ul class="nav navbar-nav">
        <li><a href="{% url 'home:new_session' %}"><span class="glyphicon glyphicon-plus"></span> Create New Session</span> </a></li>
      </ul>


</nav>
<!--
    <div class="row-offcanvas row-offcanvas-left">
      <div id="sidebar" class="sidebar-offcanvas">
          <div class="col-md-12">
            <h4>Study Session Maker</h4>
                <a href="{% url 'home:new_session' %}" class="btn btn-default btn-lg" role="button">Create New Session</a>
                <a href="#" class="btn btn-default btn-lg" role="button">Use Past Session</a>

                <form class="form-inline">
                    <div class="form-group">
                       <div class="dropdown">
                          <button class="btn btn-primary dropdown-toggle btn-md" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Class Filter

                             Display icon in button
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">

                           Unselectable header
                            <li class="dropdown-header">Select classes to filter</li>
                            {% for classes in enrolledin %}
                            <li><a href="#"><input type="checkbox">&nbsp;{{classes.class_code}}</a></li>
                            {% endfor %}
                          </ul>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group date" data-provide="datepicker">

                            <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"/>
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                </form>
          </div>
      </div>
    </div>
-->
<div id="main">
    <br><br>
    <div class="container">
            {% if not enrolledin %}
            <br><br>
              <h2 class="no_classes">You have not joined any classes.</h2>
              <h2 class="no_classes2"> Please go to My Account to add classes you are enrolled in!</h2>
            {% endif %}

            <div class="container" style="width: 850px;">

                <!-- jinja logic here for dynamic homepage -->
                {% for classes in enrolledin %}
                <br>
                <h4><a href="#{{ classes.class_code }}Content" class = "myLink classheaders" data-toggle="collapse">{{ classes.class_code }}</a></h4>
                <div id="{{ classes.class_code }}Content" class="collapse in">
                    {% if classes.class_empty %}
                      <h4 class="no_sesh"> There are no scheduled Study Sessions for this class.</h2>
                    {% else %}
                      {% for session in sessions %}
                      {% if session.class_code == classes.class_code %}

                      <div class="well">
                            <div class="col-md-10 col-md-offset-0" style="float: left;">
                              <span class="sessionLabel" style="margin-right: 10px;"><label>Study Session</label></span>
                              <span class="sessionLabel"><label>{{ session.date }}</label></span> <!-- date -->
                              <span class="sessionLabel"><label>{{ session.start_time }} - {{ session.end_time }}</label></span> <!-- start and end time -->
                              <span class="sessionLabel"><label>{{ session.building }} {{ session.room_number }}</label></span> <!-- location and room number -->
                            </div>

                              {% if session.is_owner == 1 %}
                              <div class="col-md-2 col-md-offset-0" style="float: right;">
                              <form method="post">
                                  {% csrf_token %} <!-- security -->
                                  <button class="btn btn-danger a-btn-slide-text btn-space pull-right btn-primary btn-xs editanddeletebtn" name="delete" type="submit" value="{{session.seshID}}" style="margin-right: 24px;">
                                     <span class="glyphicon glyphicon-remove" style="vertical-align: -1px; margin-left: 1px;" aria-hidden="true"></span>

                                  </button>
                              </form>
                              <form method="post" value="{{session.seshID}}">
                                  {% csrf_token %} <!-- security -->
                                  <button class="btn btn-primary a-btn-slide-text btn-space pull-right btn-primary btn-xs editanddeletebtn" id='btnedit{{session.seshID}}' name="edit" type="submit" value="{{session.seshID}}">
                                     <span class="glyphicon glyphicon-pencil" style="vertical-align: -1px; margin-left: 1px;" aria-hidden="true"></span>
                                  </button>
                              </form>
                              </div>
                              <br>
                              {% else %}
                              <div style="margin-top: 18px;">
                              <form id="join_session" value="{{session.seshID}}">
                                  {% csrf_token %} <!-- security -->
                                  <button class="btn btn-success a-btn-slide-text btn-space pull-right btn-primary btn-md joinandleavebtn" id='btnjoin{{session.seshID}}' name="join" type="submit" value="{{session.seshID}}" is_joined = "{{session.is_joined}}">
                                      <span><strong>Join</strong></span>
                                  </button>
                              </form>
                              </div>
                              {% endif %}

                          <br>
                          <div class="container">
                            <div class="col-md-6 col-md-offset-0" style="float: left;">
                              {% if session.description == "" %}
                                <i>No Description</i>
                              {% else %}
                                <p>{{ session.description }}</p> <!-- decription -->
                              {% endif %}
                            </div>
                          </div>
                      </div>
                      <!-- <input type="hidden" name="hidden_session_{{session.id}}" value={{session.id}}> -->
                    {% endif %}
                    {% endfor %}
                  {% endif %}
                </div>
                {% endfor %}
            </div>
    </div>
</div>

<script type="text/javascript">
    //ON GET
    $(document).ready(function() {

      {% for session in sessions %}
        var seshID =  "{{session.seshID}}";
        if($("#btnjoin" + seshID).attr('is_joined') == '1'){
          $("#btnjoin" + seshID).removeClass('btn-success');
          $("#btnjoin" + seshID).addClass('btn-danger');
          $("#btnjoin" + seshID).html('</span><span><strong>Leave</strong></span>');
        }
      {% endfor %}
    });
  </script>

<script>

    //JOIN SESSION
    $(document).on('submit','#join_session',function(e){
        //e.stopPropagation();
        e.preventDefault();
        var seshID =  $(this).attr('value');
        var is_joined = ((parseInt($("#btnjoin" + seshID).attr('is_joined'))) + 1) % 2;


        $("#btnjoin" + seshID).attr('is_joined', is_joined.toString())



        // FOLLOWING FROM DJANGO WEBSITE IS FOR CSRF+AJAX~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        //END here ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

        $.ajax({
          type:'POST',
          url:'',
          data:{
            seshID: $(this).attr('value'),
            function: "is_joined",
            is_joined: $("#btnjoin" + seshID).attr('is_joined')
          },
          success:function(){
              //var seshID =  $(this).attr('value');
              if($("#btnjoin" + seshID).attr('is_joined') == "0"){
                $("#btnjoin" + seshID).removeClass('btn-danger');
                $("#btnjoin" + seshID).addClass('btn-success');
                $("#btnjoin" + seshID).html('</span><span><strong>Join</strong></span>');
              }
              else{
                $("#btnjoin" + seshID).removeClass('btn-success');
                $("#btnjoin" + seshID).addClass('btn-danger');
                $("#btnjoin" + seshID).html('</span><span><strong>Leave</strong></span>');
              }
          }

        });
    });
</script>

<script type="text/javascript">
    var seshID =  $(this).attr('value');
    $(document).on('hover','#join_session',function(e){
      var seshID =  $(this).attr('value');
      $("#btnedit" + seshID).html('Test');
    });
</script>

{% endblock %}

<!-- <script type="text/javascript">
  //DELETE Session
  $(document).on('submit','#delete_session',function(e){
      //e.stopPropagation();
      var seshID =  $(this).attr('value');

      // FOLLOWING FROM DJANGO WEBSITE IS FOR CSRF+AJAX~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie != '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = jQuery.trim(cookies[i]);
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) == (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }

      var csrftoken = getCookie('csrftoken');
      function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
          }
      });
      //END here ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

      $.ajax({
        type:'POST',
        url:'',
        data:{
          seshID: $(this).attr('value'),
          function: "delete"
        },
        success:function(){
            alert("hmm");
        },
      });
  });
</script> -->

<!-- <script type="text/javascript">

    //EDIT Session
    $(document).on('submit','#edit_session',function(e){
        //e.stopPropagation();
        e.preventDefault();
        var seshID =  $(this).attr('value');

        // FOLLOWING FROM DJANGO WEBSITE IS FOR CSRF+AJAX~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        //END here ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

        $.ajax({
          type:'POST',
          url:'',
          data:{
            seshID: $(this).attr('value'),
            function: "edit"
          },
          success:function(){

          }

        });
    });
</script> -->
