{% extends 'base.html' %}

{% block head %}
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="IE=edge">
<meta name="viewport" content="width = device-width, initial-scale = 1">

<title>StudyUpUIUC</title>


<style >
/*.jumbotron{
    background-color: #2E2D88;
    color:white;
}*/

/*.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 30;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
.sidenav a:hover {
    color: #f1f1f1;
}*/
.btn-space{
    margin-right: 10px;
}
.myLink, .myLink:hover, .myLink:active, .myLink:visited, .myLink:focus {
    text-decoration:none;
}
.sidebar-offcanvas {
  width: inherit;
  min-width: 220px;
  max-width: 220px;
  background-color:#f5f5f5;
  float: right;

  z-index: 1;
  min-height: 500px;
  max-height: 500px;
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;
}
#main {
  height:100%;
  overflow:auto;
}
.sessionLabel {
    margin-right: 25px;
}

.joinandleavebtn {
  min-width: 100px;
  max-width: 100px;
  min-height: 35px;
  max-height: 35px;
  border-radius: 24px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.editanddeletebtn {
    min-width: 30px;
    max-width: 30px;
    min-height: 30px;
    max-height: 30px;
    border: 0 none;
    border-radius:24px;
}

.well {
    background: #F8F8F8;
    max-width: 800px;
    min-width: 800px;
}


</style>



{% endblock %}
{% block body %}


<!--     <div class="sidenav">
      <a href="#about">About</a>
      <a href="#services">Services</a>
      <a href="#clients">Clients</a>
      <a href="#contact">Contact</a>
    </div> -->

    <div class="row-offcanvas row-offcanvas-left">
      <div id="sidebar" class="sidebar-offcanvas">
          <div class="col-md-12">
            <h4>Study Session Maker</h4>
                <a href="{% url 'home:new_session' %}" class="btn btn-default btn-lg" role="button">Create New Session</a>
                <a href="#" class="btn btn-default btn-lg" role="button">Use Past Session</a>
          </div>
      </div>
    </div>

<div id="main">
    <div class="container" style="width: 800px;">
        <form class="form-inline">
            <div class="form-group">
               <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle btn-md" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Class Filter

                    <!-- Display icon in button -->
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">

                    <!-- Unselectable header -->
                    <li class="dropdown-header">Select classes to filter</li>
                    {% for classes in enrolledin %}
                    <li><a href="#"><input type="checkbox">&nbsp;{{classes.class_code}}</a></li>
                    {% endfor %}
                  </ul>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group date" data-provide="datepicker">

                    <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"/>
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <br>

    <div class="container">
    <br>
            <div class="container" style="width: 800px;">

                <!-- jinja logic here for dynamic homepage -->
                {% for classes in enrolledin %}
                <h4><a href="#{{ classes.class_code }}Content" class = "myLink" data-toggle="collapse">{{ classes.class_code }}</a></h4>
                <div id="{{ classes.class_code }}Content" class="collapse in">
                    {% for session in sessions %}
                    {% if session.class_code == classes.class_code %}
                    <div class="well">
                          <div>
                            <span class="sessionLabel"><label>Study Session</label></span>
                            <span class="sessionLabel"><label>{{ session.date }}</label></span> <!-- date -->
                            <span class="sessionLabel"><label>{{ session.start_time }} - {{ session.end_time }}</label></span> <!-- start and end time -->
                            <span class="sessionLabel"><label>{{ session.building }} {{ session.room_number }}</label></span> <!-- location and room number -->

                            {% if session.is_owner == 1 %}
                            <form method="post">
                                {% csrf_token %} <!-- security -->
                                <button class="btn btn-danger a-btn-slide-text btn-space pull-right btn-primary btn-xs editanddeletebtn" name="delete" type="submit" value="{{session.seshID}}" style="margin-right: 24px;">
                                   <span class="glyphicon glyphicon-remove" style="vertical-align: -1px; margin-left: 1px;" aria-hidden="true"></span>

                                </button>
                            </form>
                            <form method="post" id="test" value="{{session.seshID}}">
                                {% csrf_token %} <!-- security -->
                                <button class="btn btn-primary a-btn-slide-text btn-space pull-right btn-primary btn-xs editanddeletebtn" id='btnedit{{session.seshID}}' name="edit" type="submit" value="{{session.seshID}}">
                                   <span class="glyphicon glyphicon-pencil" style="vertical-align: -1px; margin-left: 1px;" aria-hidden="true"></span>
                                </button>
                            </form>
                            {% else %}
                            <form id="join_session" value="{{session.seshID}}">
                                {% csrf_token %} <!-- security -->
                                <button class="btn btn-success a-btn-slide-text btn-space pull-right btn-primary btn-md joinandleavebtn" id='btnjoin{{session.seshID}}' name="join" type="submit" value="{{session.seshID}}" is_joined = "{{session.is_joined}}">
                                    <span><strong>Join</strong></span>
                                </button>
                            </form>
                            {% endif %}
                        </div>
                        <br>
                        <div class="container">
                            <p>{{ session.description }}</p> <!-- decription -->
                        </div>
                    </div>
                    <!-- <input type="hidden" name="hidden_session_{{session.id}}" value={{session.id}}> -->
                    {% endif %}
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
    </div>
</div>

<script type="text/javascript">
    //ON GET
    $(document).ready(function() {

      {% for session in sessions %}
        var seshID =  "{{session.seshID}}";
        if($("#btnjoin" + seshID).attr('is_joined') == '1'){
          $("#btnjoin" + seshID).removeClass('btn-success');
          $("#btnjoin" + seshID).addClass('btn-danger');
          $("#btnjoin" + seshID).html('</span><span><strong>Leave</strong></span>');
        }
      {% endfor %}
    });
  </script>

<!-- <script type="text/javascript">
  //DELETE Session
  $(document).on('submit','#delete_session',function(e){
      //e.stopPropagation();
      var seshID =  $(this).attr('value');

      // FOLLOWING FROM DJANGO WEBSITE IS FOR CSRF+AJAX~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie != '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = jQuery.trim(cookies[i]);
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) == (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }

      var csrftoken = getCookie('csrftoken');
      function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
          }
      });
      //END here ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

      $.ajax({
        type:'POST',
        url:'',
        data:{
          seshID: $(this).attr('value'),
          function: "delete"
        },
        success:function(){
            alert("hmm");
        },
      });
  });
</script> -->

<!-- <script type="text/javascript">

    //EDIT Session
    $(document).on('submit','#edit_session',function(e){
        //e.stopPropagation();
        e.preventDefault();
        var seshID =  $(this).attr('value');

        // FOLLOWING FROM DJANGO WEBSITE IS FOR CSRF+AJAX~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        //END here ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

        $.ajax({
          type:'POST',
          url:'',
          data:{
            seshID: $(this).attr('value'),
            function: "edit"
          },
          success:function(){

          }

        });
    });
</script> -->

<script type="text/javascript">

    //JOIN SESSION
    $(document).on('submit','#join_session',function(e){
        //e.stopPropagation();
        e.preventDefault();
        var seshID =  $(this).attr('value');
        var is_joined = ((parseInt($("#btnjoin" + seshID).attr('is_joined'))) + 1) % 2;


        $("#btnjoin" + seshID).attr('is_joined', is_joined.toString())



        // FOLLOWING FROM DJANGO WEBSITE IS FOR CSRF+AJAX~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        //END here ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

        $.ajax({
          type:'POST',
          url:'',
          data:{
            seshID: $(this).attr('value'),
            function: "is_joined",
            is_joined: $("#btnjoin" + seshID).attr('is_joined')
          },
          success:function(){
              //var seshID =  $(this).attr('value');
              if($("#btnjoin" + seshID).attr('is_joined') == "0"){
                $("#btnjoin" + seshID).removeClass('btn-danger');
                $("#btnjoin" + seshID).addClass('btn-success');
                $("#btnjoin" + seshID).html('</span><span><strong>Join</strong></span>');
              }
              else{
                $("#btnjoin" + seshID).removeClass('btn-success');
                $("#btnjoin" + seshID).addClass('btn-danger');
                $("#btnjoin" + seshID).html('</span><span><strong>Leave</strong></span>');
              }
          }

        });
    });
</script>

<script type="text/javascript">
    var seshID =  $(this).attr('value');
    $(document).on('hover','#join_session',function(e){
      var seshID =  $(this).attr('value');
      $("#btnedit" + seshID).html('Test');
    });
</script>

{% endblock %}
