{% extends 'base.html' %}
{% block head %}
	<title>Create New Session</title>
	<style>
		.btn {
			background-color: #FFFFFF;
			color: #3a4470;
			font-weight: bold;
		}
		.btn:hover, .btn:focus, .btn:active {
			background-color: #3a4470;
			color: #FFFFFF;
		}
		.title_header {
			font-family: 'Caveat';
			color: #3a4470;
			font-size: 50px;
		}
	</style>





{% endblock %}

{% block body %}
<div class="container">
	<h2 class="title_header">Create New Session</h2>
	<div class="container">
		<form method="post">
			{% csrf_token %} <!-- security -->

			<tr><th><label for="id_enrolled_class">Class:</label></th><td><br>

			<select data-placeholder="  Select a Class" name="enrolled_class" class="form-control chosen-select" required id="id_enrolled_class">
				{% for class_code in classes %}
				<!-- Eventually populated with suggested friends -->
		    <option value="{{class_code}}">{{ class_code }}</option>
				{% endfor %}
		  </select>
			<br><br>

			<tr><th><label for="id_start_time">Start Time:</label></th><td><input type="text" name="start_time" class="form-control time ui-timepicker-input" autocomplete="off" placeholder="Select a Start Time" required id="id_start_time" /></td></tr><br>
			<tr><th><label for="id_end_time">End Time:</label></th><td><input type="text" name="end_time" class="form-control time ui-timepicker-input" autocomplete="off" placeholder="Select a End Time" required id="id_end_time" /></td></tr><br>
			<tr><th><label for="id_date">Date:</label></th><td><input type="text" name="date" class="form-control" placeholder="Select a Date" required id="id_date" /></td></tr><br>
			<tr><th><label for="id_building">Building:</label></th><td><input type="text" name="building" class="form-control" placeholder="Enter a Building Name" required id="id_building" /></td></tr><br>
			<tr><th><label for="id_room_number">Room Number:</label></th><td><input type="text" name="room_number" class="form-control" placeholder="Enter a Room Number" required id="id_room_number" /></td></tr><br>
			<tr><th><label for="id_description">Description:</label></th><td><input type="text" name="description" class="form-control" placeholder="Enter a Description (optional)" id="id_description" /></td></tr><br>

			<!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->

			<label for="id_suggested_friends">Invite Friends:</label>
		  <select data-placeholder="  Choose people to invite..." name="invited_friends" multiple class="form-control chosen-select" id="id_suggested_friends">
				<!-- Eventually populated with suggested friends -->

		    <option value="Engineering">Engineering</option>
		    <option value="Carpentry">Carpentry</option>
		    <option value="Plumbing">Plumbing</option>
		    <option value="Electrical">Electrical</option>
		    <option value="Mechanical">Mechanical</option>
		    <option value="HVAC">HVAC</option>
		  </select>

			<br><br>

			<button type="submit" class="btn btn-submit" role="button">Create Session</button>
		</form>
</div>

<script>
	//date
	$(document).ready(function(){
		$("#id_date" ).datepicker();
		$(".chosen-select").chosen({width: "100%"});
	})

</script>

<script>
		//time
		$('#id_start_time').timepicker();
		$('#id_end_time').timepicker();
</script>

<script>
		//change friend addition list
		$( "#id_enrolled_class" ).change(function() {
			//update list of suggested friends to add
			//$('#id_suggested_friends').children('option').remove();
			var $sf = $("test");
			$sf.remove();
		});
</script>
<!--
<script>

    //JOIN SESSION
    $(document).on('submit','#session_submit',function(e){
					alert($("#id_suggested_friends").val());
        // FOLLOWING FROM DJANGO WEBSITE IS FOR CSRF+AJAX~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        //END here ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

        $.ajax({
          type:'POST',
          url:'',
          data:{
          },
          success:function(){
              alert($("#id_suggested_friends").val());
          }

        });
    });
</script>
-->

{% endblock %}
