{% extends 'base.html' %}
{% block head %}
	<title>Create New Session</title>
	<style>
		.btn {
			background-color: #FFFFFF;
			color: #3a4470;
			font-weight: bold;
		}
		.btn:hover, .btn:focus, .btn:active {
			background-color: #3a4470;
			color: #FFFFFF;
		}
		.title_header {
			font-family: 'Coustard';
			color: #3a4470;
			font-size: 40px;
		}
		textarea { resize:none; }
	</style>





{% endblock %}

{% block body %}
<div class="container">
	<h2 class="title_header">Create New Session</h2>
	<br>
	<div class="container">
		<form method="post" autocomplete="off">
			{% csrf_token %} <!-- security -->

			<tr><th><label for="id_enrolled_class">Class:</label></th><td><br>

			<select data-placeholder="  Click to select a class..." name="enrolled_class" class="form-control chosen-select" required id="id_enrolled_class">
				{% for class_code in classes %}
		    	<option value="{{class_code}}">{{ class_code }}</option>
				{% endfor %}
				<!--<option class="placeholder" selected disabled value="">Select language</option>-->
		  </select>
			<br><br>

			<tr><th><label for="id_start_time">Start Time:</label></th><td><input type="text" name="start_time" class="form-control time ui-timepicker-input" autocomplete="off" placeholder="Click to select a start time..." required id="id_start_time" /></td></tr><br>
			<tr><th><label for="id_end_time">End Time:</label></th><td><input type="text" name="end_time" class="form-control time ui-timepicker-input" autocomplete="off" placeholder="Click to select an end time..." required id="id_end_time" /></td></tr><br>
			<tr><th><label for="id_date">Date:</label></th><td><input type="text" name="date" class="form-control" placeholder="Click to select a date..." required id="id_date" /></td></tr><br>

			<tr><th><label for="id_building">Building:</label></th><td><br>

			<select data-placeholder="  Click to select a building..." name="building" class="form-control chosen-select" required id="id_building">
				{% for building in buildings %}
		    	<option value="{{building}}">{{ building }}</option>
				{% endfor %}
		  </select>
			<br><br>

			<tr><th><label for="id_room_number">Room Number:</label></th><td><input type="text" name="room_number" class="form-control" placeholder="Enter a room number.." required id="id_room_number" /></td></tr><br>
			<tr><th><label for="id_description">Description:</label></th><td><textarea rows="3" type="text" name="description" class="form-control" placeholder="Enter a description (optional)..." id="id_description"> </textarea></td></tr><br>

			<!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->

			<label for="id_suggested_friends">Invite Friends:</label>
			<div class="friend_picker">
			  <select data-placeholder="  Choose people to invite..." name="invited_friends" multiple class="form-control chosen-select" id="id_suggested_friends">
					<!-- Eventually populated with suggested friends -->
					{% for key1, class in class_dict.items %}
						{% for student in class %}
			    		<option value="{{student.0}}">{{student.0}}  ({{key1}})</option>
						{% endfor %}
					{% endfor %}
			  </select>
			</div>
			<br><br>

			<button type="submit" class="btn btn-submit" role="button">Create Session</button>
		</form>
</div>

<script>
	//date
	$(document).ready(function(){
		$("#id_date" ).datepicker();
		$(".chosen-select").chosen({width: "100%"});

/*
		//The following takes html JSON and converts to JS JSON
		var html_classes = "{{class_dict}}";
		var html_split = html_classes.split('&quot;')
		var json_classes = "";

		for(var i = 0; i < html_split.length; i++){
			json_classes += html_split[i];
			json_classes += "\"";
		}

		json_classes = json_classes.substring(0, json_classes.length-1);

		//json_classes now holds json info in a string

		var json_classes_conv = JSON.parse(json_classes);
		console.log(json_classes_conv); // outputs &quot;&amp;

		var class_picked = $("#id_enrolled_class option:selected").text(); //currently selected class
		console.log(class_picked);

		var new_flist = "";


		new_flist += "<div class=\"friend_picker\">"

		for(var i = 0; i < json_classes_conv.ECE391.length; i++){
			console.log(json_classes_conv.ECE391[i][0]);
		}

		for(var i = 0; i < json_classes_conv[class_picked].length; i++){
			new_flist += ("<option value=\"" + json_classes_conv[class_picked][i][0] + "\">" + json_classes_conv[class_picked][i][0] + "</option>")
			console.log(json_classes_conv[class_picked][i]);
		}


		new_flist += "</div>";

		console.log(new_flist);

		//$("div.friend_picker").replaceWith(new_flist);



		$('#id_suggested_friends').change();

*/
	})

</script>

<script>
		//time
		$('#id_start_time').timepicker();
		$('#id_end_time').timepicker();
</script>

<script>
		//change friend addition list
		/*
		$( "#id_enrolled_class" ).change(function() {
			//update list of suggested friends to add
			//$('#id_suggested_friends').children('option').remove();
			var classes = $("#id_enrolled_class option:selected").text();
			//$("div.friend_picker").replaceWith("<h2>" +  + "</h2>");
			$("#id_suggested_friends").append('<option value="option6">option6</option>');
			$('#id_suggested_friends').change();
		});
		*/
</script>
<!--
<script>

    //JOIN SESSION
    $(document).on('submit','#session_submit',function(e){
					alert($("#id_suggested_friends").val());
        // FOLLOWING FROM DJANGO WEBSITE IS FOR CSRF+AJAX~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        //END here ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

        $.ajax({
          type:'POST',
          url:'',
          data:{
          },
          success:function(){
              alert($("#id_suggested_friends").val());
          }

        });
    });
</script>
-->

{% endblock %}
