{% extends 'base.html' %}

{% block head %}
	<title>Logged Out</title>
	<style>
		.btn {
			background-color: #FFFFFF;
			color: #3a4470;
			font-weight: bold;
			margin-left: 140px;
		}
		.btn:hover, .btn:focus, .btn:active {
			background-color: #3a4470;
			color: #FFFFFF;
		}
		.title_header {
			font-family: 'Coustard';
  		color: #3a4470;
  		font-size: 40px;
  		margin-left: 70px;
		}
	</style>
{% endblock %}

{% block body %}
	<div class="row">
    <div class="col-md-2 col-md-offset-5">
			<br>
		<h1 class="title_header">Logged out</h1>
		<br>
		<form action="{% url 'accounts:login' %}">
<!-- 			<input type="submit" value="Login" /> -->
		<button type="submit" class="btn btn-submit" role="button" value="login">Login</button>
		</form>
	</div>
	</div>
{% endblock %}
