{% extends 'base.html' %}

{% block head %}
	<title>Logged Out</title>
	<style>
		.btn {
			background-color: #FFFFFF;
			color: #3a4470;
			font-weight: bold;
		}
		.btn:hover, .btn:focus, .btn:active {
			background-color: #3a4470;
			color: #FFFFFF;
		}
	</style>
{% endblock %}

{% block body %}
	<div class="row">
    <div class="col-md-2 col-md-offset-5">
		<h1>Logged out</h1>
		<form action="{% url 'accounts:login' %}">
<!-- 			<input type="submit" value="Login" /> -->
		<button type="submit" class="btn btn-submit" role="button" value="login">Login</button>
		</form>
	</div>
	</div>
{% endblock %}
