{% extends 'base.html' %}

{% block head %}
  <title>My Profile</title>
  <style>
		.btn {
			background-color: #FFFFFF;
			color: #3a4470;
			font-weight: bold;

		}
		.btn:hover, .btn:focus, .btn:active {
			background-color: #3a4470;
			color: #FFFFFF;
		}

		.title_header {
			font-family: 'Coustard';
			color: #3a4470;
			font-size: 40px;
      text-align: center;
		}
    .info {
      text-align: center;
      font-weight: bold;
    }

	</style>
{% endblock %}

{% block body %}

      <br>
  		<h1 class="title_header">My Profile</h1>

      <p class="info">Name: {{ user.first_name }} {{ user.last_name }}</p>
  		<p class="info">netID: {{ user.username }}</p>

      <!-- TODO: Classes enrolled in !-->




      <br><br><br>
      <div class="col-md-2 col-md-offset-4" style="float: left;">

      <!-- enroll in classes here -->
        <form method="post">
          {% csrf_token %} <!-- security -->

          <label for="id_class_enroller">Join Classes:</label>
          <select data-placeholder="  Select classes to join..." name="classes_select" multiple class="form-control chosen-select" id="classes_select">
            <!-- Eventually populated with classes not enrollled in -->
            {% for each in other_classes %}
              <option value="{{ each.class_code }}">{{ each.class_code }}</strong></option>
            {% endfor %}

          </select>
          <br><br>

          <button type="submit" class="btn btn-submit join_btn" role="button">Join Classes</button>
        </form>
      </div>

      <div class="col-md-2 col-md-offset-1">
      <!-- List enrolled classes here -->
        <label for="id_class_enroller">Currently Joined Classes:</label>
        {% if not enrolled_classes %}
          <h5>You have not joined any classes!</h5>
        {% endif %}

        <br><br>
          <!-- dynamically put enrolled classes here -->
        <form method="post">
          {% csrf_token %} <!-- security -->

          {% for each in enrolled_classes %}
            <p>{{ each }}</p>
            <button type="submit" class="btn btn-submit" name="remove_class" value = "{{ each }}" role="button">Leave</button>
            <br><br>
          {% endfor %}
        </form>
      </div>





  <script>
  	// $.noConflict();
  	// jQuery(document).ready(function($){
  	// 	$( "#datepicker" ).datepicker();
  	// })//end of jquery

  	// $(".chosen-select").chosen({width: "100%"});

  	// /YYYY-MM-DD...
  	$(document).ready(function(){
  		$( "#datepicker" ).datepicker();
  		$(".chosen-select").chosen({width: "100%"});
  	})

  </script>


{% endblock %}
