{% extends 'base.html' %}

{% block head %}
  <title>My Profile</title>
  <style>
		.btn {
			background-color: #FFFFFF;
			color: #3a4470;
			font-weight: bold;
		}
		.btn:hover, .btn:focus, .btn:active {
			background-color: #3a4470;
			color: #FFFFFF;
		}
		.title_header {
			font-family: 'Coustard';
			color: #3a4470;
			font-size: 40px;
      text-align: center;
		}
    .info {
      text-align: center;
      font-weight: bold;
    }
    .chosen-select{
      max-width: 30px;
      min-width: 30px;
    }
	</style>
{% endblock %}

{% block body %}
	<div class="row">
      <br>
  		<h1 class="title_header">My Profile</h1>

      <p class="info">Name: {{ user.first_name }} {{ user.last_name }}</p>
  		<p class="info">netID: {{ user.username }}</p>

      <!-- TODO: Classes enrolled in !-->

	</div>

  <script>
  	// $.noConflict();
  	// jQuery(document).ready(function($){
  	// 	$( "#datepicker" ).datepicker();
  	// })//end of jquery

  	// $(".chosen-select").chosen({width: "100%"});

  	// /YYYY-MM-DD...
  	$(document).ready(function(){
  		$( "#datepicker" ).datepicker();
  		$(".chosen-select").chosen({width: "100%"});
  	})

  </script>


{% endblock %}
