{% extends 'base.html' %}
{% block head %}
  <title>Register</title>
  <style>
    .btn {
      background-color: #FFFFFF;
      color:  #3a4470;
      font-weight: bold;
    }
    .btn:hover, .btn:focus, .btn:active {
      background-color:  #3a4470;
      color: #FFFFFF;
    }
	</style>
{% endblock %}

{% block body %}
	<div class="row">
    <div class="col-md-3 col-md-offset-5">
<h2>Register</h2>
<form method="post">
  		{% csrf_token %} <!-- security -->
      {{ form.as_p }} <!-- renders as paragraph tag -->

<!--       <button type="submit">Register</button> -->
      <button type="submit" class="btn btn-submit" role="button">Register</button>
</form>
</div>
</div>
{% endblock %}
