{% extends 'base.html' %}
<!-- used gapi docs here -->
{% block head %}

<title>Concentration Map</title>

<style>
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#floating_key {
  position: fixed;
  top: 65px;
  left: 85%;
  z-index: 8;
  background-color: #FAFAFA;
  border: 2px solid #e2e2e2;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  line-height: 30px;
  padding-left: 10px;
  min-width: 260px;
  max-width: 260px;
  min-height: 330px;
  max-height: 330px;

}

#sidebar_filter_header {
  font-family: 'Coustard';
  color: #3a4470;
  font-size: 25px;
  text-align: center;

  margin-top: 15px;
  margin-bottom: 10px;
}

#sidebar_key_header {
  font-family: 'Coustard';
  color: #3a4470;
  font-size: 25px;
  text-align: center;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-bottom: 10px;
}

#key1_color {
  width: 40px;
  height: 20px;
  background: #d6ddff;
  border-radius: 5px;
  margin-bottom: 6px;
  margin-top: 2px;
  margin-left: 30px;
}

#key2_color {
  width: 40px;
  height: 20px;
  background: #bbc6f7;
  border-radius: 5px;
  margin-bottom: 6px;
  margin-left: 30px;
}

#key3_color {
  width: 40px;
  height: 20px;
  background: #8b9ae0;
  border-radius: 5px;
  margin-bottom: 6px;
  margin-left: 30px;
}

#key4_color {
  width: 40px;
  height: 20px;
  background: #6D7FCC;
  border-radius: 5px;
  margin-bottom: 6px;
  margin-left: 30px;
}

#key5_color {
  width: 40px;
  height: 20px;
  background: #5c6ebc;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-left: 30px;
}

#key_text {
  line-height: 1.85;
}


</style>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJ4C-DfepoKxXp8UtSZ4HgRmLX1NUBIp4&callback=initMap" async defer></script>

{% endblock %}

{% block body %}

<div id="floating_key">
  <div id="sidebar_filter_header">Class Filter</div>

  <select data-placeholder="  Filter" name="class_filter" class="form-control chosen-select" required id="class_filter">
    <option value="All" selected="selected">All</option>
    {% for class in enrolledin %}
      <option value="{{class.class_code}}">{{class.class_code}}</option>
    {% endfor %}
  </select>


  <div id="sidebar_key_header">Sessions</div>
  <div class="col-md-2 col-md-offset-1" >
    <div id="key1_color"></div>
    <div id="key2_color"></div>
    <div id="key3_color"></div>
    <div id="key4_color"></div>
    <div id="key5_color"></div>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <div id="key_text"> 1 - # </div>
    <div id="key_text"> # - # </div>
    <div id="key_text"> # - # </div>
    <div id="key_text"> # - # </div>
    <div id="key_text"> # + </div>
  </div>
</div>


</div>

<div id="map"></div>


<script>
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 17,
      center: {lat: 40.107737, lng: -88.227234}, //uiuc loc

    });
    var circle1 = {
      path: google.maps.SymbolPath.CIRCLE,
      fillOpacity: 0.85,
      fillColor: '#5c6ebc',
      strokeOpacity: 0.0,
      scale: 60.0
    };
    var circle2 = {
      path: google.maps.SymbolPath.CIRCLE,
      fillOpacity: 0.85,
      fillColor: '#6D7FCC',
      strokeOpacity: 0.0,
      scale: 50.0
    };
    var circle3 = {
      path: google.maps.SymbolPath.CIRCLE,
      fillOpacity: 0.85,
      fillColor: '#8b9ae0',
      strokeOpacity: 0.0,
      scale: 40.0
    };
    var circle4 = {
      path: google.maps.SymbolPath.CIRCLE,
      fillOpacity: 0.85,
      fillColor: '#bbc6f7',
      strokeOpacity: 0.0,
      scale: 30.0
    };
    var circle5 = {
      path: google.maps.SymbolPath.CIRCLE,
      fillOpacity: 0.85,
      fillColor: '#d6ddff',
      strokeOpacity: 0.0,
      scale: 20.0
    };

    /*
    var ecebCircle = new google.maps.Circle({
       strokeOpacity: 0,
       fillColor: '#5c6ebc',
       fillOpacity: 0.85,
       map: map,
       center: {lat: 40.114998, lng: -88.228007}, //insert lat long here
       radius: 60
    });*/

    var ecebCircle = new google.maps.Marker({
        icon: circle1,
        position: {lat: 40.114998, lng: -88.228007},
        label: {
          text: "50",
          color: "#FFFFFF",
          fontSize: "35px",
          fontWeight: "bold"
        }
    });
    ecebCircle.setMap(map);
    /*
    var graingerCircle = new google.maps.Circle({
       strokeOpacity: 0,
       fillColor: '#6D7FCC',
       fillOpacity: 0.85,
       map: map,
       center: {lat: 40.112652, lng: -88.226895}, //insert lat long here
       radius: 50
    });*/
    var graingerCircle = new google.maps.Marker({
        icon: circle2,
        position: {lat: 40.112652, lng: -88.226895},
        label: {
          text: "22",
          color: "#FFFFFF",
          fontSize: "30px",
          fontWeight: "bold"
        }
    });
    graingerCircle.setMap(map);
    /*
    var siebelCircle = new google.maps.Circle({
       strokeOpacity: 0,
       fillColor: '#8b9ae0',
       fillOpacity: 0.85,
       map: map,
       center: {lat: 40.114031, lng: -88.224920}, //insert lat long here
       radius: 40
    });*/
    var siebelCircle = new google.maps.Marker({
        icon: circle3,
        position: {lat: 40.114031, lng: -88.224920},
        label: {
          text: "10",
          color: "#FFFFFF",
          fontSize: "25px",
          fontWeight: "bold"
        }
    });
    siebelCircle.setMap(map);
    /*
    var unionCircle = new google.maps.Circle({
       strokeOpacity: 0,
       fillColor: '#bbc6f7',
       fillOpacity: 0.85,
       map: map,
       center: {lat: 40.109370, lng: -88.227216}, //insert lat long here
       radius: 30
    });*/
    var unionCircle = new google.maps.Marker({
        icon: circle4,
        position: {lat: 40.109370, lng: -88.227216},
        label: {
          text: "6",
          color: "#FFFFFF",
          fontSize: "25px",
          fontWeight: "bold"
        }
    });
    unionCircle.setMap(map);
    /*
    var dclCircle = new google.maps.Circle({
       strokeOpacity: 0,
       fillColor: '#d6ddff',
       fillOpacity: 0.85,
       map: map,
       center: {lat: 40.113281, lng: -88.226539}, //insert lat long here
       radius: 20
    });*/
    var dclCircle = new google.maps.Marker({
        icon: circle5,
        position: {lat: 40.113281, lng: -88.226539},
        label: {
          text: "1",
          color: "#FFFFFF",
          fontSize: "20px",
          fontWeight: "bold"
        }
    });
    dclCircle.setMap(map);

  }
/*
  function geocodeAddress(geocoder, resultsMap) {
    var address = document.getElementById('address').value;
    geocoder.geocode({'address': address}, function(results, status) {
      if (status === 'OK') {
        resultsMap.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
          map: resultsMap,
          position: results[0].geometry.location
        });
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  }*/
</script>

<script>
	$(document).ready(function(){
		$(".chosen-select").chosen({width: "75%"});

    //The following takes html JSON and converts to JS JSON
    var html_building_dict = "{{building_dict}}"
    var html_building_split = html_building_dict.split('&quot;')
    var json_building = "";

    for(var i = 0; i < html_building_split.length; i++){
      json_building += html_building_split[i];
      json_building += "\"";
    }

    json_building = json_building.substring(0, json_building.length-1);
    JSON.parse(json_building);

    //jsonbuilding now hold info in JSON

    // Draw initial map markers here
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 17,
      center: {lat: 40.107737, lng: -88.227234}, //uiuc loc

    });

    //LOOP THROUGH BUILDING THAT NEEDS TO BE MARKED
      var circle = {
        path: google.maps.SymbolPath.CIRCLE,
        fillOpacity: 0.85,
        fillColor: '#5c6ebc',
        strokeOpacity: 0.0,
        scale: 60.0 //filter this by number of sessions and divisions
      };

      var circleMark = new google.maps.Marker({
          icon: circle1,
          position: {lat: 40.114998, lng: -88.228007},
          label: {
            text: "50",//filter this by number of sessions and divisions
            color: "#FFFFFF",
            fontSize: "35px",
            fontWeight: "bold"
          }
      });
      circleMark.setMap(map);

  })
</script>

<script>
  $( "#class_filter" ).change(function() {

    // Draw switched map markers here
    //var filteredClass = $("#filter option:selected").text();

    //console.log("{{building_dict}}");
    //console.log("{{classbuild_dict}}");


    //The following takes html JSON and converts to JS JSON
    var html_building_dict = "{{building_dict}}"
    var html_building_split = html_building_dict.split('&quot;')
    var json_building = "";

    for(var i = 0; i < html_building_split.length; i++){
      json_building += html_building_split[i];
      json_building += "\"";
    }

    json_building = json_building.substring(0, json_building.length-1);
    JSON.parse(json_building);

    //The following takes html JSON and converts to JS JSON
    var html_classbuild_dict = "{{classbuild_dict}}"
    var html_classbuild_split = html_classbuild_dict.split('&quot;')
    var json_classbuild = "";

    for(var i = 0; i < html_classbuild_split.length; i++){
      json_classbuild += html_classbuild_split[i];
      json_classbuild += "\"";
    }

    json_classbuild = json_classbuild.substring(0, json_classbuild.length-1);
    JSON.parse(json_classbuild);

    //jsonbuilding and jsonclassbuild now hold info in JSON
    console.log(json_building);
    console.log(json_classbuild);

    var filteredClass = $("#class_filter option:selected").text();

    if(filteredClass == "All"){

    }
    else {

    }


  });
</script>

<!-- bounds of the desired area
var allowedBounds = new google.maps.LatLngBounds(
     new google.maps.LatLng(70.33956792419954, 178.01171875),
     new google.maps.LatLng(83.86483689701898, -88.033203125)
);
var lastValidCenter = map.getCenter();

google.maps.event.addListener(map, 'center_changed', function() {
    if (allowedBounds.contains(map.getCenter())) {
        // still within valid bounds, so save the last valid position
        lastValidCenter = map.getCenter();
        return;
    }

    // not valid anymore => return to last valid position
    map.panTo(lastValidCenter);
});-->



{% endblock %}
